drupal8ubuntu14devweb:
  build: .
  ports:
    - "82:80"
    - "445:443"
  links:
   - drupal8ubuntu14devdb:database
drupal8ubuntu14devdb:
  image: mysql:5.5
  volumes_from:
    - mysql-drupal8-ubuntu14-dev
  environment:
    TERM: xterm
    MYSQL_ROOT_PASSWORD: password
    MYSQL_USER: user
    MYSQL_PASSWORD: password
    MYSQL_DATABASE: drupal8dev
